@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Roboto&family=Sansita:ital,wght@1,900&display=swap");
:root {
  --background: #000;
  --section-color: #121212;
  --text-color-section-hover: #fff;
  --text-color-section: #a7a7a7;
  --brand-color: #1db954;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 20px;
  color: white;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--background);
}

main {
  display: grid;
  grid-template-columns: 360px 2fr;
  grid-template-rows: 90% 10%;
  overflow: hidden;
  height: 100vh;
}

#nav-bar {
  width: 360px;
  padding: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}

#logo {
  gap: 16px;
  font-style: italic;
  margin-bottom: 10px;
  font-size: 1rem !important;
  transition: color 0.2s ease-in-out;
  color: var(--text-color-section-hover);
}

#logo:hover {
  color: var(--brand-color);
}

#nav-menu a {
  display: flex;
  padding: 4px 16px;
  align-items: center;
  font-size: 0.8rem;
}

#nav-menu a:not(#logo) {
  gap: 10px;
  transition: color 0.2s ease-in-out;
}

#nav-menu a:not(#logo) svg {
  width: 20px;
  height: 20px;
}

#nav-menu a:not(#logo):hover {
  color: var(--text-color-section-hover);
}

#nav-menu a svg {
  width: 30px;
  height: 30px;
}

.section {
  background-color: var(--section-color);
  padding: 20px;
  border-radius: 8px;
}

.section a {
  color: var(--text-color-section);
}

#playlist-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: scroll;
  position: relative;
  padding: 28px;
}

#playlist-menu::-webkit-scrollbar {
  width: 4px; /* width of the entire scrollbar */
}

#playlist-menu::-webkit-scrollbar-track {
  background: var(--text-color-section);
  border-radius: 20px; /* color of the tracking area */
}

#playlist-menu::-webkit-scrollbar-thumb {
  background-color: var(--brand-color); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

#main-window {
  padding: 8px 8px 8px 0px;
  height: 100%;
  position: relative;
}

#main-view {
  overflow-y: scroll;
  height: 100%;
}

#main-view::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

#main-view::-webkit-scrollbar-track {
  background: var(--text-color-section);
  border-radius: 20px; /* color of the tracking area */
}

#main-view::-webkit-scrollbar-thumb {
  background-color: var(--brand-color); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

h1 {
  color: var(--text-color-section-hover);
  font-size: 1.8rem;
  margin-bottom: 8px;
}

.my-pl-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  row-gap: 20px;
  padding: 20px;
}

.my-pl-card {
  display: flex;
  flex-direction: row;
  margin-right: 8px;
  width: 500px;
  border-radius: 8px;
  background-color: var(--brand-color);
  align-items: center;
  height: 100px;
}

.my-pl-card img {
  margin-right: 8px;
  border-radius: 8px;
  height: 100%;
  width: 100px;
}

.pl-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  transition: color 0.2s ease-in-out;
}

.pl-info a {
  transition: color 0.2s ease-in-out;
  color: var(--background);
}
.pl-info a:hover {
  color: var(--text-color-section-hover);
}

.pl-info p {
  font-size: 0.8rem;
}

#pl-play {
  position: absolute;
  display: grid;
  place-items: center;
  top: 40px;
  right: 40px;
  height: 50px;
  width: 50px;
  background-color: var(--brand-color);
  border-radius: 50%;
  border: none;
}

#pl-play svg {
  width: 80%;
  height: 80%;
}

#reproductor {
  grid-column: 1/3;
  height: 100%;
  width: 100%;
  background-color: #1db954;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
#barra-musica {
  width: 80%;
}

.pl-button {
  border: none;
  background-color: transparent;
  color: var(--text-color-section);
  font-size: 0.8rem;
  text-align: left;
  transition: color 0.2s ease-in-out;
}

.pl-button:hover {
  color: var(--text-color-section-hover);
  cursor: pointer;
}

audio {
  display: none;
}

#back {
  background: url("./icons/caret-left-fill.svg");
  width: 25px;
  height: 25px;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
}

#next {
  background: url("./icons/caret-right-fill.svg");
  width: 25px;
  height: 25px;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
}

#play {
  background: url("./icons/play-fill.svg");
  width: 25px;
  height: 25px;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
}

.pl-title {
  display: inline-block;
  margin-left: 20px;
}

.pl-title + a {
  display: block;
}

.pl-header {
  background: linear-gradient(var(--text-color-section), var(--section-color));
  border-radius: 8px 8px 0px 0px;
  margin-bottom: 16px;
}

.single-song-play {
  width: 120px;
  padding: 10px;
  color: white;
  background-color: var(--brand-color);
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}
